.Output {
    max-width: 90%;
    width: fit-content;
    margin: 10rem auto 3rem;
    &_header {
        margin: 3rem auto;
        font-size: 3rem;
    }
    &_password {
        cursor: pointer;
        font-size: 2rem;
        margin: 1.5rem auto;
        text-align: center;
    }
}